body {
    background-color: antiquewhite;
    max-width: 1100px;
    margin: 0 auto;

}

.banner-container {
    display: flex;
    background-color: rgb(114, 157, 143);
    padding: 40px;
    border-radius: 20px;
    gap: 50px;
    align-items: center;

}
.banner-container .content {
    width: 50%;
}

.banner-container img {
    width: 100%;
    border-radius: 25px;
    height: 300px;
}

.banner-container button {
    background-color: darkcyan;
    padding: 10px 20px;
    border-radius: 8px;
}