body {
    background-color: thistle;
    max-width: 1200px;
    margin: 0 auto;
}
.card-section {
    text-align: center;
}
.card-section h2 {
    font-size: 2em;
}
.card-section > p {
    font-size: 1.25em;
    margin-bottom: 50px;
}
.card-container {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    gap: 50px;
    margin-bottom: 50px;
}
.cards {
    text-align: left;
    width: 300px;
    border: 2px solid teal;
    padding: 25px;
    border-radius: 10px;
    background-color: white;
    box-shadow: 10px 10px 10px rgba(47, 47, 47, 0.41);
}
.cards h3 {
    font-size: 1.75em;
}
.cards p {
    font-size: 1em;
}
.cards img {
    width: 100%;
    height: 200px;
    border-radius: 10px;
}
.cards button {
    padding: 10px 20px;
    background-color: thistle;
    border-radius: 8px;
    font-size: 18px;
}