nav ul {
   display: flex ;
}
nav ul li {
    list-style: none;
    margin-left: 20px;
    font-size: 20px;
}
nav ul li:hover {
    background-color: lightblue;
}
nav ul li a {
    text-decoration: none;
    color: black
}